@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(180deg, #c9d6ff 0%, #e2e2e2 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  width: 360px;
  backdrop-filter: blur(25px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}
#weather-form {
  display: flex;
  flex-direction: column;
}
#weather-input {
  padding: 16px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
  color: black;
}
#weather-input:focus {
  background: rgba(255, 255, 255, 0.9);
}
#weather-button {
  padding: 12px;
  background: #007aff;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 500;
}
#weather-button:hover {
  background: #0063d6;
}

#weather-display {
  margin-top: 25px;
  padding: 20px;
  background: white;
  border-radius: 18px;
  text-align: center;
}
#flag {
  border-radius: 12px;
}
